.posts {
  overflow: hidden;
  background: $main-background-color;

  &__wrapper {
    max-width: $max-container-width;
    margin: auto;
    padding: 6.25rem 1.625rem;
    position: relative;
  }

  &__content {
    max-width: $max-content-width;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__subtitle {
    margin-bottom: 1.25rem;
  }
}

.gallery {
  display: grid;
  grid-gap: 0.225rem;
  grid-template-columns: repeat(5, minmax(20%, 1fr));
  grid-auto-flow: dense;
  overflow: hidden;
  margin: 3.125rem auto 0;

  &__decoration {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  }

  &__text {
    font-family: $main-font;
    font-size: 7.8125rem;
    line-height: 7.8125rem;
    color: $main-light-color;
    z-index: 3;
    opacity: 0.5;
    transform: rotate(90deg);
    position: absolute;
    top: 13rem;
    left: -14rem;
  }

  &__ellipse {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2;

    &-main {
      grid-column: span 2;
      grid-row: span 2;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.ellipse {
  &-green {
    top: 6rem;
    left: -2rem;
    z-index: 3;
  }

  &-pink {
    top: 5.5rem;
    right: -2.5rem;
    z-index: 1;
    transform: scale(0.7);
  }
}

@media all and (max-width: 1240px) {
  .gallery {
    &__text {
      font-size: 5.8125rem;
      line-height: 5.8125rem;
      left: -10rem;
    }
  }
}

@media all and (max-width: 1024px) {
  .gallery {
    &__text {
      font-size: 3.8125rem;
      line-height: 3.8125rem;
      left: -6rem;
      top: 10rem;
    }
  }
}

@media all and (max-width: 768px) {
  .posts {

    &__wrapper {
      padding: 3.125rem 1rem 1.25rem;
    }

    &__subtitle {
      margin-bottom: 0.625rem;
      text-align: center;
    }

  }

  .gallery {
    grid-template-columns: repeat(2, minmax(50%, 1fr));
    grid-gap: 0.625rem;
    margin: 1.25rem auto 0;

    &__decoration {
      display: none;
    }
  }
  .hide {
    display: none;
  }
}
